* {
    margin: 0;
}

.first-part {

    display: grid;
    grid-template-areas:
            "first-header first-header first-header first-header"
            "first-left-content first-left-content first-right-content first-right-content"
            "first-left-content first-left-content first-right-content first-right-content";
    grid-gap: 10px;
    place-items: center;
    background-image: url("images/Header Background@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1056px;
    /*border: 5px solid red;*/
}

.first-header {
    grid-area: first-header;
    position: absolute;
    right: 10px;
    top: 30px;
    /*border: 5px solid red;*/
}

.first-header ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.first-header li {
    float: left;
    padding: 2rem;
}

.first-header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#input_container {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 20px;
    width: 200px;
}

#input {

    height: 20px;
    margin: 0;
    padding-left: 10px;
    padding-right: 25px;
    width: 100%;
    border-radius: 2rem;
    height: 3vw;
    font-size: x-large;
}

#input_img {
    position: absolute;
    bottom: 25%;
    right: 0px;
    width: 24px;
    height: 24px;
}

.first-left-content {
    grid-area: first-left-content;
    /*border: 5px solid red;*/
    position: absolute;
    left: 10rem;
}

#food {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 7rem;
}


.first-left-content h3 {
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
    font-family: italic;
}

.first-left-content a {
    text-decoration: none;
    border-radius: 5rem;
    border: 1px white solid;
    padding: 20px;
    background-color: white;
    color: black;
}

.first-left-content p {
    color: white;
    font-family: italic;
    width: 35%;

}

.first-right-content {
    grid-area: right-content;
    /*border: 5px solid red;*/
}

.first-right-content img {
    position: relative;
    top: 8rem;
    left: 7rem;
    width: 90%;

}

.second-part {
    background-color: white;
    margin-top: 10px;
    display: grid;
    grid-template-areas:
            "second-header second-header second-header"
            "second-content second-content second-content"
            "second-footer second-footer second-footer";
    grid-gap: 5rem;
    /*border: 5px red solid;*/
}

.second-header {
    grid-area: second-header;
    /*border: 5px red solid;*/
    text-align: center;
    align-items: center;
    align-content: center;
}

#second_title {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 7rem;
}

.second-header p {
    margin-top: 2rem;
    width: 33%;
    display: inline-block;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 20px;
}

.second-content {
    grid-area: second-content;
    display: flex;
    margin-top: 1rem;
    /*border: 5px red solid;*/
    justify-content: space-between;
    overflow: hidden;

}

.meal-card {
    width: 33%;
    float: left;
    /*border: 5px red solid;*/

}

.meal-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meal-card h2 {
    margin-top: 1.5rem;
    text-align: left;
    position: relative;
    left: 25%;
    font-size: 26px;
}

.meal-card p {
    width: 33%;
    margin-top: 1.5rem;
    text-align: left;
    position: relative;
    left: 25%;
    font-size: 20px;
}

.second-footer {
    grid-area: second-footer;
    /*border: 5px red solid;*/
    text-align: center;
}

.second-footer a {
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    background-color: #252525;
    border-radius: 3rem;
    font-size: x-large;
    position: relative;
    top: 5rem;
}

.third-part {
    display: grid;
    grid-template-areas:
            "third-header third-header third-header"
            "third-content third-content third-content"
            "third-footer third-footer third-footer";
    background-color: #252525;
    margin-top: 8rem;
    height: 500px;
    /*border: red 5px solid;*/
}

.third-header {
    /*border: red 5px solid;*/
    grid-area: third-header;
    text-align: center;
}

.third-content {
    /*border: red 5px solid;*/
    grid-area: third-content;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.third-footer {
    grid-area: third-footer;
    /*border: red 5px solid;*/
}

#third_title {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 7rem;
    position: relative;
    top: 1rem;
}

.third-content p {
    margin-top: 12rem;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    width: 50%;
    margin-right: 10rem;
    margin-left: 10rem;
    position: relative;
    bottom: 8rem;
}

.third-footer a {
    color: #252525;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    background-color: white;
    border-radius: 3rem;
    font-size: x-large;
    position: relative;
    margin-left: 45%;
    bottom: 3rem;
}

.fourth-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 5rem;
}

.fourth-part img {
    display: inline-block;
    width: 80%;
}

.fourth-part h2 {
    display: inline-block;
    margin-top: 4rem;
    width: 450px;
    font-size: 3rem;
}

.fourth-part p {
    margin-top: 5rem;
    width: 400px;
    font-size: 1.3rem;
}

.fourth-part a {
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    background-color: #252525;
    border-radius: 3rem;
    font-size: x-large;
    position: relative;
    top: 3rem;
}

.fourth-part-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fourth-part-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}